{
  "sourceMaps": true,
  "presets": [
    ["@babel/preset-env", { "loose":true }],
  ],
  "env": {
    "test": {
      "presets": [
        ["preact-cli/babel", { "modules": "commonjs" }]
      ]
    }
  }
}
