html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #ccc;
  background-color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.container {
  text-align: center;
  padding: 3vw 0;
  min-width: 25rem;
  height: max-content;
  box-sizing: border-box;
}

.card__controller {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card__tombolone_number {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

button {
  cursor: pointer;
}

.card__controller button,
.card__tombolone_number > button,
.card-cell__cta button {
  font-size: 1rem;
  font-weight: bold;
  background: orange;
  border-radius: 5px;
  padding: 0.65rem;
}

.card__tombolone_number > button {
  border-radius: 9px;
}

.card__number:active,
.card__number:focus,
.card__number:focus-visible,
[role="gridcell"]:active,
[role="gridcell"]:focus,
[role="gridcell"]:focus-visible,
.card-cell__cta button:focus,
.card-cell__cta button:focus-visible,
.card__controller > button:focus,
.card__controller > button:focus-visible,
.card__tombolone_number > button:focus,
.card__tombolone_number > button:focus-visible {
  outline: 5px dashed orangered;
}

#tombolone_number {
  border: 0;
  font-size: 2rem;
}

.card-cell__cta {
  margin-top: 0.5rem;
  padding: 1rem 0;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: #111;
}

.card-cell__cta form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-cell__cta input {
  width: 8rem;
  margin-right: 1rem;
} 

.card__list {
  margin: 1rem auto;
}

.card {
  margin: 1rem;
  padding: 0;
  height: 100%;
}

.card > .card__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  background-color: #fff;
  height: 33%;
}

@media (min-width: 1024px) {
  .card__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30vh);
    column-gap: 1rem;
    row-gap: 1rem;
    width: 95%;
  }

  .card__container:nth-child(1),
  .card__container:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .card__container:nth-child(3),
  .card__container:nth-child(4) {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .card__container:nth-child(5),
  .card__container:nth-child(6) {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .card__container:nth-child(1),
  .card__container:nth-child(3),
  .card__container:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .card__container:nth-child(2),
  .card__container:nth-child(4),
  .card__container:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .card__container.card__container--tombolone {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .card__container--tombolone:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .card__container--tombolone:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .card__container--tombolone:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .card {
    margin: 0;
  }
}

.card__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 9);
  height: auto;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
}

.card__box.card__box--selected {
  color: #c34f25;
  background-color: #ff5722;
}

.card--tombolone .card__box {
  width: calc(100% / 10);
}

.card--tombolone .card__box:nth-child(5),
.card--tombolone .card__box:nth-child(15),
.card--tombolone .card__box:nth-child(25) {
  border-right-width: 3px;
}

.card__number {
  color: #444;
  font-size: 2rem;
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.card__number.card__number--selected {
  color: #0c3073;
  background-color: #ff5722;
}

.card--tombolone .card__number {
  pointer-events: none;
}

footer {
  text-align: right;
  padding-right: 1.25rem;
  margin-top: 3rem;
}